@import './breakpoints';

.details {

    @function alignedItems($expr){
        @if $expr {
            @return center;
        }@else{
            @return unset;
        }
    }

    @extend .card;
    grid-template-rows: 1fr 0.2fr 1fr;
    &--content {
        display: flex;
        flex-direction: column;
        grid-column: 1/11;
        align-items:alignedItems(true);
        text-align: alignedItems(true);
        
        @include media(desktop-s){
            grid-column: 1/11;
            grid-row: 1/1;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            align-items:alignedItems(false);
            text-align: alignedItems(false);
        }
    }

    &--body {
        grid-column: 8/11;
        display: flex;
        flex-direction: column;

        margin: 0 32px 0 32px;

        @include media(desktop-s){
            margin-top: 32px;
            margin-left: 0px;
            margin-right: 32px;
        }

        &__conditions {
            margin-bottom: 16px;
            font-size: 14px;
            text-transform: capitalize;
        }

        &__product-name {
            font-size: 24px;
            margin-bottom: 32px;
        }

        &__price {
            font-size: 46px;
            margin-bottom: 32px;
            font-weight: normal;
        }

        &__price::before {
            content: '$';
            margin-right: 0.5rem;
        }

        &__price::after {
            content: '00';
            font-size: 24px;
            vertical-align: super;
        }

        &__button{
            background-color: $meli-lightblue;
            border-radius: 5px;
            padding: 0.8rem;
            border: none;
            color: white;
            font-size: 18px;
            text-decoration: none;
        }

    }

    &--image {
        grid-column: 1/8;
        justify-self: center;
        max-width: 680px;
        max-height: 680px;
        margin-top: 32px;
    }

    &--description {
        grid-column: 1/8;
        grid-row: 3/3;
        margin-left: 32px;

        &__title {
            margin-bottom: 32px;
            font-size: 28px;
        }

        &__text {
            margin-bottom: 32px;
            font-size: 16px;
            color: $meli-gray;
        }
    }
}